/*==========================site styles======================*/
body
{
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Open Sans' , sans-serif;
    font-size: 14px;
    line-height: 22px;
}
.clr
{
    clear: both;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
{
    font-family: 'Open Sans' , sans-serif;
}
h1, h2, h3, h4, h5, h6
{
    margin: 0;
}
a:link, a:visited
{
    outline: none;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
fieldset, a img, img
{
    border: none;
}
:focus
{
    outline: none;
}
.hidden
{
    display: none;
}
#wrapper
{
    min-width: 1230px;
    position: relative;
    width: 100%;
    z-index: 1;
}
hr
{
    display: none;
}
.container
{
    width: 1200px;
}
/*======================================================*/
#header
{
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
    z-index: 20;
    -webkit-transition: all .3s ease-out .2s;
    -moz-transition: all .3s ease-out .2s;
    -o-transition: all .3s ease-out .2s;
    transition: all .3s ease-out .2s;
}
#headerin
{
    background-color: #fff;
    -webkit-box-shadow: 0 3px 12px #686868; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 3px 12px #686868; /* Firefox 3.5 - 3.6 */
    box-shadow: 0 3px 12px #686868; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
#header.header-sroll
{
    position: fixed;
}
#headerin > .container
{
    position: relative;
}
#header .logo-bg
{
    background: url(../images/logobg.png) no-repeat left top;
    top: 100%;
    left: 31px;
    position: absolute;
    height: 50px;
    width: 182px;
    z-index: 0;
}
.logo
{
    width: 111px;
}
.logo a
{
    display: block;
    width: 100%;
}
#header .logo
{
    left: 68px;
    top: 9px;
    position: absolute;
    z-index: 99;
}
.nameco
{
    color: #be010d;
    font-family: 'Times New Roman';
    font-size: 34px;
    font-weight: bolder;
    text-transform: uppercase;
}
#header .nameco
{
    float: left;
    line-height: 49px;
    padding-left: 195px;
}
#header .languge
{
    float: right;
    font-size: 0;
    vertical-align: top;
    text-align: right;
    padding-top: 10px;
    width: 55px;
}
#menu
{
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}
#menu-ser
{
    float: left;
    list-style: none;
    padding-left: 20px;
    margin: 0;
}
#menu > li, #menu-ser > li
{
    float: left;
}
#menu > li > a, #menu-ser > li > a
{
    color: #1b1a1a;
    display: block;
    font-family: 'Roboto' , sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 49px;
    text-transform: uppercase;
    padding: 0 22px;
}
#menu-ser > li > a
{
    padding: 0 9px;
}
#menu > li.last > a, #menu-ser > li.last > a
{
    padding-right: 0;
}
#menu > li > a:hover, #menu > li:hover > a, #menu > li.active > a, #menu-ser > li > a:hover, #menu-ser > li:hover > a, #menu-ser > li.active > a
{
    color: #c15e65;
    text-decoration: none;
}
/*===============================*/
/*=======================================*/
#mainContent
{
    border-bottom: solid 1px #d9d9d9;
    padding-bottom: 22px;
    position: relative;
    z-index: 1;
}
#banner
{
    min-height: 440px;
    width: 100%;
}
#colAside
{
    float: left;
    width: 251px;
}
.title-a
{
    color: #000;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    width: 100%;
}
.title-b, .title-c
{
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}
.title-b
{
    background-color: #ff9c00;
    color: #fff;
    line-height: 49px;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 10;
}
.title-c
{
    background: url(../images/titlbg.png) repeat-y left top;
    color: #202020;
    line-height: 37px;
    padding-left: 18px;
}
.title-b .iconad
{
    background-color: #ff9c00;
    border-bottom: solid 1px #d6d6d6;
    display: block;
    top: 100%;
    left: 0;
    position: absolute;
    height: 9px;
    width: 10px;
}
/*===============================*/
.box-aside
{
    margin-bottom: 20px;
    width: 100%;
}
.list-menu
{
    list-style: none;
    padding: 0;
    margin: 0 0 15px;
    width: 100%;
}
.list-menu > li > a
{
    background-color: #be010d;
    color: #fff;
    display: block;
    font-size: 22px;
    line-height: 30px;
    position: relative;
    padding: 4px 35px 4px 20px;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.list-menu > li > ul
{
    background-color: #404040;
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-menu li li a
{
    color: #fff;
    display: block;
    font-size: 13px;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
    padding: 12px 35px 12px 20px;
    border-bottom: 2px solid #535353;
}
.list-menu li li a:hover, .list-menu li li.active a
{
    color: #be010d;
}
.list-menu .iconar
{
    display: block;
    height: 34px;
    line-height: 34px;
    text-align: right;
    right: 10px;
    top: 50%;
    margin-top: -17px;
    position: absolute;
    width: 34px;
}
.list-menu a:hover
{
    text-decoration: none;
}
.list-menu > li > a:hover, .list-menu > li.active > a
{
    background-color: #ff9c00;
}
/*====================================*/
.support-box
{
    border: solid 1px #d6d6d6;
    border-top: none;
    position: relative;
    margin-bottom: 18px;
    z-index: 1;
}
.support-box .support-img
{
    margin-left: 10px;
}
.support-content
{
    padding: 10px 20px;
}
.hotline
{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}
.hotline strong
{
    color: #be010d;
    display: block;
    font-family: 'Lato' , sans-serif;
    font-size: 20px;
    line-height: 28px;
    padding-left: 12px;
}
.list-support
{
    list-style: none;
    margin: 0;
    padding: 0 12px;
}
.list-support a
{
    color: #262626;
    display: block;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
    margin-top: 5px;
    width: 100%;
}
.list-support span
{
    display: block;
}
.list-support .iconai
{
    float: left;
    width: 71px;
}
.list-support .name
{
    overflow: hidden;
    padding-left: 10px;
}
.call-me .name
{
    padding-top: 6px;
}
.list-support a:hover
{
    text-decoration: none;
}
/*======================================================================*/
#colMain
{
    overflow: hidden;
    padding-left: 33px;
}
.parent-img
{
    display: block;
    margin: 10px auto;
    height: 60px;
    width: 240px;
}
/*=======================================*/
.product-img, .product-img img
{
    display: block;
    width: 100%;
}
/*================*/
.fullbox-img
{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.fullbox-img > .hideo
{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /*IE8+*/
    filter: alpha(opacity=0); /* IE7 and lower */
}
/*=====================================*/
.head
{
    background-color: #be010d;
    color: #fff;
    overflow: hidden;
    padding: 4px 0;
    width: 100%;
}
.head-bgd
{
    background-color: #ff9c00;
}
.head-bg
{
    background-color: #e5e5e5;
    color: #151515;
    margin-bottom: 12px;
}
.head-tit
{
    font-family: 'Roboto' , sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
}
.head .head-tit
{
    float: left;
    padding-left: 23px;
}
.head a:hover
{
    text-decoration: none;
}
.head-bg .head-tit
{
    font-weight: 400;
}
.more-all
{
    display: block;
    float: right;
    font-size: 16px;
    font-weight: 300;
}
.more-all .icon-play
{
    display: inline-block;
    font-size: 12px;
    padding-left: 5px;
    line-height: 28px;
}
.head .more-all
{
    color: #fff;
    line-height: 30px;
    margin-right: 20px;
}
.head-bg .more-all
{
    color: #1e1e1e;
}
.pager-select
{
    overflow: hidden;
}
.pager-select .pager-lb
{
    display: block;
    float: right;
    font-size: 13px;
    font-weight: normal;
    line-height: 30px;
    padding-left: 15px;
    padding-right: 30px;
    margin: 0;
}
.pager-select .select-box
{
    float: right;
    margin-top: 4px;
    width: 65px;
}
/*========================*/
.product-tb
{
    padding-top: 1px;
    left: 0;
    top: 0;
    position: relative;
    margin-bottom: 25px;
}
.product-box
{
    border: solid 1px #e5e5e5;
    color: #484848;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    padding: 15px;
    position: relative;
    margin-left: -1px;
    margin-top: -1px;
    text-align: center;
}
.product-box .product-img
{
    height: 225px;
    overflow: hidden;
}
.product-name a
{
    color: #000;
    display: block;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 20px;
}
.product-box a:hover, .product-box:hover a
{
    color: #be010d;
    text-decoration: none;
}
/*===product details===*/
.product-details {
    overflow: hidden;
    width: 100%;
    margin-bottom: 38px;
    margin-top: 25px;
}
.product-details .details-left {
    position: relative;
    float: left;
    width: 380px;
}
.product-details .details-left img 
{
    display: block;
    width: 100%;
}
.details-left .zoomWrapper {
    border: 1px solid #dedede;
    position: relative;
}
.zoomContainer 
{
    border: 1px solid #dedede;
    z-index: 10;
}
.product-details .details-right {
    float: right;
    width: 500px;
}
.details-right  .wrap-code {
    font-size: 14px;
    line-height: 22px;
}
.wrap-code .pro-code {
    float: left;
    width: 65%;
    font-style: italic;
    color: #be010d;
    padding: 10px 0 12px;
}
.details-right .content {
    font-size: 15px;
    line-height: 24px;
    color: #282828;
    text-align: justify;
}
.details-right .title-details {
    color: #282828;
    font-size: 28px;
    line-height: 32px;
    font-weight: normal;
}
.details-right .content {
    font-size: 13px;
    line-height: 30px;
    color: #282828;
    text-align: justify;
}
.title-same {
    font-size: 18px;
    line-height: 20px;
    color: #282828;
    margin-bottom: 15px;
    font-weight: 600;
}
/*===Library===*/
.library-group {
    margin-left: 1px;
    margin-right: 0;
    overflow: hidden;
    position: relative;
    left: -2px;
    top: 0;
    width: 950px;
}
.library-group .colno-5 {
    float: left;
    width: 316px;
    padding: 0 30px 30px 0;
}
.library-group .librarya {
    border: 1px solid #FFF;
    margin-left: -1px;
    margin-top: -1px;
    position: relative;
    z-index: 2;
}
.library-img, .library-img img {
    display: block;
    position: relative;
    width: 100%;
    z-index: 1;
}
.librarya .library-name {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.librarya .library-name a {
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 12px;
    text-align: center;
}
.librarya .library-name a:before
{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1a2023;
    opacity: 0.8;
    z-index: -1;
}
.librarya:hover .library-name a, .librarya .library-name a:hover
{
    text-decoration: none;
}
.librarya:hover .library-name a:before, .librarya .library-name a:hover:before
{
    background-color: #cd2c34;
}
.wrapper-video {
    overflow: hidden;
    margin: 20px 0 0;
    width: 100%;
}
.wrapper-video .video-details {
    vertical-align: top;    
    overflow: hidden;
    width: 70%;
    /*float: left;
    margin: 0 136px;*/
    margin: 0 auto;
}
/*======================================*/
.wrapper-news, .wrapper-career
{
    overflow: hidden;
    width: 100%;
}
.wrapper-news .news-main
{
    float: left;
    padding-top: 8px;
    width: 420px;
}
.wrapper-news .news-list
{
    overflow: hidden;
    padding-left: 25px;
}
.news-box
{
    color: #484848;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    overflow: hidden;
}
.news-box .news-img, .news-img img
{
    display: block;
    width: 100%;
}
.news-box a:hover
{
    text-decoration: none;
}
.news-box .news-name a
{
    background: url(../images/line-1.gif) no-repeat left bottom;
    color: #000;
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    padding-bottom: 12px;
    margin-bottom: 10px;
}
.news-box .news-name a:hover
{
    color: #be010d;
}
.news-main .news-name a
{
    padding-top: 10px;
}
.news-list .news-box
{
    padding: 3px 0 8px;
}
.news-box .desription
{
    overflow: hidden;
    min-height: 66px;
    width: 100%;
}
.news-list .news-img
{
    float: left;
    margin-top: 5px;
    width: 197px;
}
.news-list .news-content
{
    overflow: hidden;
    padding-left: 20px;
}
/*==============================*/
.list-hit
{
    background: url(../images/hit-bg.png) repeat-y left top;
    font-size: 13px;
    list-style: none;
    padding: 10px 20px;
    line-height: 18px;
    margin: 0;
}
.list-hit li
{
    overflow: hidden;
    text-align: right;
    padding: 3px 0;
    width: 100%;
}
.list-hit > li > span
{
    background: url(../images/hitbg.gif) no-repeat left top;
    display: block;
    float: left;
    padding-left: 23px;
}
.list-hit > li.hit-1 > span
{
    background-position: 0 -3px;
}
.list-hit > li.hit-2 > span
{
    background-position: 0 -28px;
}
.list-hit > li.hit-3 > span
{
    background-position: 0 -54px;
}
.list-hit > li.hit-4 > span
{
    background-position: 0 -78px;
}
.list-hit > li.hit-5 > span
{
    background-position: 0 -110px;
}
.list-hit strong
{
    font-family: 'Lato' , sans-serif;
}
#hitnum
{
    font-family: 'Lato' , sans-serif;
    font-size: 0;
    overflow: hidden;
}
#hitnum span
{
    background-color: #c2c2c2; /*background: url(../images/op-20.png) repeat left top;*/
    border-radius: 2px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    -moz-border-radius: 2px; /* Firefox */
    -webkit-border-radius: 2px; /* Safari and Chrome */
    color: #202020;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    margin-left: 1px;
    height: 18px;
    width: 18px;
}
.video-box
{
    background-color: #000;
    height: 190px;
    width: 100%;
}
/*==================*/
#site
{
    padding: 5px 0;
    width: 100%;
}
#site a, #site span
{
    color: #999;
    font-size: 11px;
    font-style: italic;
    margin: 0 2px;
    line-height: 20px;
}
#site span
{
    color: #f719a1;
}
.pager
{
    text-align: right;
    vertical-align: top;
    font-size: 0;
    margin: 0 0 10px;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    padding-top: 11px;
}
.pager-page
{
    text-align: center;
    padding: 10px 0 30px;
}
.pager a, .pager span
{
    background: #fff;
    color: #151515;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    text-align: center;
    height: 24px;
    line-height: 24px;
    margin-left: 3px;
    vertical-align: top;
    width: 24px;
}
.pager a:hover, .pager a.current
{
    background-color: #c30e17;
    border-color: #000;
    color: #fff;
    text-decoration: none;
}
.pager .first, .pager .last
{
    font-size: 10px;
}
.pager .prev:hover, .pager .next:hover, .pager .first:hover, .pager .last:hover
{
    background-color: #fff;
    color: #c30e17;
}
/*==========================================*/
.wrap-mail
{
    background-color: #be010d;
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    width: 100%;
}
.wrap-mail .mail-lb
{
    float: left;
    width: 755px;
}
.wrap-mail h4
{
    float: left;
    font-size: 28px;
    font-weight: 400;
    line-height: 61px;
    text-transform: uppercase;
    letter-spacing: -1px;
    word-spacing: -1px;
}
.wrap-mail h5
{
    font-size: 18px;
    text-transform: uppercase;
}
.wrap-mail .mail-content
{
    overflow: hidden;
    padding-left: 30px;
    padding-top: 12px;
}
.wrap-mail .mail-content p
{
    font-style: italic;
    margin-bottom: 0;
}
.form-mail
{
    float: right;
    position: relative;
    width: 440px;
}
.form-mail .mail-btn, .btn-mail
{
    position: relative;
    height: 67px;
    width: 61px;
}
.form-mail .mail-btn
{
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
}
.form-mail .mail-btn
{
}
.btn-mail
{
    background-color: #ff9c00;
    border: none;
    cursor: pointer;
    display: block;
    font-size: 22px;
    height: 67px;
    line-height: 67px;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    width: 61px;
}
.mail-btn .icona-left
{
    display: block;
    right: 100%;
    top: 0;
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-right: 5px solid #000; /* Tam giác phải được đổ màu */
    position: absolute;
}
.form-mail .mail-input
{
    background-color: #fff;
    overflow: hidden;
    margin: 12px 61px 12px 0;
    padding: 0 17px;
    position: relative;
    z-index: 1;
}
.mail-input .input-text
{
    background-color: #fff;
    border: none;
    color: #747474;
    display: block;
    font-size: 13px;
    font-style: italic;
    height: 37px;
    line-height: 37px;
    vertical-align: top;
    width: 100%;
}
/*===site home services===*/
.adv
{
    margin-bottom: 14px;
    width: 100%;
}
.adv a, .adv img
{
    display: block;
    width: 100%;
}
.title-a
{
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
    padding-bottom: 5px;
    float: left;
    color: #1d1d1d;
    text-transform: uppercase;
    font-weight: 600;
}
.box-asibar
{
    border-top: solid 2px #ebebeb;
    overflow: hidden;
    float: left;
}
.list-nav
{
    list-style: none;
    width: 100%;
    float: left;
    padding: 0;
}
.list-nav li
{
    float: left;
    padding: 12px 0;
    background: url(../images/bg-new-hot.png) repeat-x left bottom;
}
.list-nav li:last-child
{
    background: none;
}
.list-nav li a
{
    float: left;
    display: block;
    padding-bottom: 7px;
    color: #282828;
    font-weight: 600;
}
.list-nav .news-content
{
    float: left;
    width: 100%;
}
.list-nav li:hover a, .list-nav li a:hover
{
    color: #be010d;
    text-decoration: none;
}
.see-all
{
    float: left;
    width: 100%;
    text-align: right;
    background-color: #e5e5e5;
    height: 30px;
    margin-bottom: 22px;
}
.see-all a
{
    line-height: 30px;
    color: #1e1e1e;
    background: url(../images/see-all.png) no-repeat right 6px;
    padding-right: 18px;
    margin-right: 12px;
}
.see-all a:hover
{
    text-decoration: none;
}
.news-box .date
{
    color: #708b70;
    font-size: 11px;
    line-height: 18px;
    padding: 4px 0;
}
.wrapper-career
{
    overflow: hidden;
    width: 100%;
    padding-bottom: 24px;
}
.wrapper-career .career-main
{
    float: left;
    padding: 24px 0 0 25px;
    border: 1px solid #e6e6e6;
    width: 100%;
}
.wrapper-career .career-list
{
    overflow: hidden;
    float: left;
    padding: 18px 0 12px;
    list-style: none;
}
.career-list li
{
    float: left;
}
.career-box
{
    color: #484848;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    float: left;
    width: 100%;
    overflow: hidden;
}
.career-box .career-img, .career-img img
{
    display: block;
    min-width: 218px;
    float: left;
}
.career-box .career-content
{
    padding: 0 20px;
    overflow: hidden;
}
.career-box .career-name a
{
    color: #000;
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}
.career-box .date
{
    color: #708b70;
    font-size: 11px;
    line-height: 35px;
    float: left;
}
.career-list .career-content
{
    overflow: hidden;
}
.career-content .description
{
    float: left;
}
.career-list .career-box
{
    width: 460px;
    padding-bottom: 14px;
}
.career-list .career-img, .career-list .career-img img
{
    min-width: 126px;
}
.career-list .career-name a
{
    font-size: 16px;
    line-height: 20px;
}
#tb-career td
{
    vertical-align: top;
}
.wrapper-880
{
    color: #282828;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    width: 100%;
    margin: 10px 0 23px;
}
.product-group, .service-group
{
    margin-left: 1px;
    margin-right: 0;
    overflow: hidden;
}
.product-group .colno-5
{
    float: left;
    width: 25%;
}
.product-group .producta
{
    border: 1px solid #fff;
    margin-left: -1px;
    margin-top: -1px;
    position: relative;
    z-index: 2;
}
.product-img, .product-img img
{
    display: block;
    position: relative;
    width: 100%;
    z-index: 1;
}
.producta .product-name
{
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.producta .product-name a:before
{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1a2023;
    opacity: 0.8;
    z-index: -1;
}
.producta .product-name a
{
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 12px;
    font-weight: 700;
}
.producta:hover .product-name a, .producta .product-name a:hover
{
    text-decoration: none;
}
.producta:hover .product-name a:before, .producta .product-name a:hover:before
{
    background-color: #cd2c34;
}
.row-service
{
    overflow: hidden;
    width: 942px;
    position: relative;
    left: -12px;
}
.row-service .col-box
{
    float: left;
    width: 25%;
}
.box-in
{
    padding: 35px 15px 55px;
}
.box-in .description
{
    text-align: center;
    overflow: hidden;
    margin: 12px 0 20px;
    width: 100%;
}
.box-in .more-details a
{
    margin: 0 42px;
    background-color: #fff;
    color: #282828;
    border: 1px solid #282828;
}
.box-in .more-details a:hover
{
    background-color: #ff9c00;
    color: #fff;
    border: 1px solid #ff9c00;
}
.logo-img
{
    display: inline-block;
    font-size: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
}
.logo-img img
{
    border: 1px solid #b7b7b7;
    border-radius: 50%;
    display: block;
    width: 100%;
}
.title-sui
{
    margin-top: 10px;
}
.title-sui a
{
    color: #282828;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
}
.wrapper-face
{
    margin: 0 auto;
}
.face
{
    font-size: 40px;
    font-family: "Roboto" ,sans-serif;
    text-align: center;
    line-height: 50px;
    padding: 30px 0;
    text-transform: uppercase;
    color: #ff9c00;
    font-weight: 600;
}
.face-left
{
    position: absolute;
    top: 40px;
    left: 260px;
}
.face-right
{
    position: absolute;
    top: 40px;
    right: 260px;
}
/*===about us===*/
.about-content
{
    overflow: hidden;
}
.wrapper-text
{
    color: #282828;
    overflow: hidden;
    line-height: 24px;
    margin-bottom: 20px;
    width: 100%;
}
.wrapper-text h3
{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    margin: 16px 0;
}
.wrapper-text .content
{
    border-left: 1px solid #e5e5e5;
    padding-left: 12px;
}
.title-about
{
    color: #282828;
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 15px;
    font-family: "Roboto" ,sans-serif;
}
/*===news===*/
.news-lbox
{
    color: #282828;
    font-size: 13px;
    line-height: 22px;
    font-weight: 300;
    overflow: hidden;
    padding: 18px 0;
    width: 100%;
}
.news-big
{
    font-size: 15px;
    line-height: 26px;
}
.news-lbox .news-img
{
    display: block;
    float: left;
    width: 242px;
}
.news-big .news-img
{
    width: 434px;
}
.news-lbox .news-img img
{
    display: block;
    width: 100%;
}
.news-lbox .news-content
{
    overflow: hidden;
    padding-left: 25px;
}
.news-lbox .news-name a
{
    color: #303030;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding-bottom: 10px;
}
.news-big .news-name a
{
    font-size: 36px;
    color: #be010d;
    line-height: 36px;
}
.date
{
    color: #a6a6a6;
}
.news-big .date
{
    font-size: 14px;
}
.title-news
{
    font-size: 30px;
    background: url(../images/bg-title-news.jpg) no-repeat left bottom;
    padding-bottom: 18px;
}
.more-details
{
    overflow: hidden;
    width: 100%;
}
.more-details a
{
    background-color: #ff9c00;
    color: #fff;
    display: block;
    float: left;
    font-size: 15px;
    font-weight: 300;
    line-height: 32px;
    padding: 0 20px;
}
.news-lbox .news-name:hover a, .news-lbox .news-name a:hover, .more-details a:hover
{
    text-decoration: none;
}
.news-title
{
    display: block;
    padding-bottom: 10px;
    font-size: 36px;
    color: #be010d;
    line-height: 36px;
}
/*===services===*/
.head-ser
{
    background-color: #fff;
}
.head-ser .head-tit
{
    padding: 0;
}
.service-group
{
    width: 100%;
}
.service-group .colno-5
{
    float: left;
    width: 448px;
    border: 1px solid #dadada;
    margin: 0 10px 18px 0;
}
.service-group .servicea
{
    margin-left: -1px;
    margin-top: -1px;
    position: relative;
    z-index: 2;
}
.service-img, .service-img img
{
    display: block;
    position: relative;
    width: 230px;
    float: left;
    z-index: 1;
}
.servicea .service-name a
{
    color: #282828;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 0;
    font-weight: 700;
}
.servicea .service-content
{
    padding: 0 12px;
    overflow: hidden;
}
.service-group .description
{
    width: 100%;
    overflow: hidden;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon
{
    position: absolute;
    right: .5em;
    top: 45%;
    margin-top: -8px;
}
.ui-state-default .ui-icon
{
    background-image: url('../images/ui-icons.png');
}
.ui-icon-triangle-1-s
{
    background-position: 0 -22px;
}
.ui-icon-triangle-1-e
{
    background-position: 0 0;
}
.ui-icon
{
    width: 21px;
    height: 21px;
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
/*===popup===*/
.modal-content
{
    background: url(../images/bg-popup.png) no-repeat center center;
    height: 381px;
}
.close
{
    position: absolute;
    top: -18px;
    right: -9px;
    background: url(../images/close-popup.png) no-repeat left top !important;
    opacity: 1;
    width: 37px;
    height: 37px;
    line-height: 37px;
    text-indent: -9999em;
}
.close:hover {
    opacity: 1;
}
.form-wrap {
    float: right;
    padding: 30px 50px;
    width: 340px;
}
.form-wrap h4 {
    color: #010a19;
    font-size: 32px;
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 15px;
    text-align: center;
}
.form-input .form-w {
    overflow: hidden;
}
.form-input .form-text {
    border: 1px solid #cbc9c9;
    color: #777;
    display: block;
    font-family: Arial;
    font-size: 13px;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    vertical-align: top;
    width: 100%;
    font-style: italic;
}
.btn-form {
    background-color: #be010d;
    border-color: #be010d;
    font-size: 14px;
    min-width: 114px;
}
.btn {
    display: inline-block;
    margin: 12px 62px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 700;
}
.btn-primary:hover {
    background-color: #be010d;
    border-color: #be010d;
}
/*=popup nop ho so=*/
.modal-file {
    background: #fefefe url(../images/bg-popup.png) no-repeat left bottom;
    height: 740px;
}
.form-file
{
    width: 600px;
    float: none;
}
.form-file .form-input {
    overflow: hidden;
    padding: 4px 0;
    width: 100%;
}
.form-input .form-lb {
    color: #483f2e;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    line-height: 28px;
    width: 180px;
}
.radioList {
    float: left;
    width: 140px;
}
.radioList input {
    float: left;
    margin-top: 3px;
}
.form-input .radioList label {
    line-height: 20px;
    padding-left: 5px;
    padding-right: 10px;
}
.form-file .btn
{
    margin: 0 180px;
}
.selecta 
{
    width: 100%;
    height: 28px;
} 
/*===download===*/
.wrapper-news .title-download
{
    background: url(../images/bg-download.png) repeat-x left bottom;
    font-size: 18px;
    line-height: 36px;
    color: #282828;
    padding-bottom: 10px;
}
.list-download {
    padding: 0;
    margin: 0;
    background: url(../images/bg-download.png) repeat-x left top;
}
.list-download li {
    list-style: none;
    margin: 0;
    float: left;
    width: 100%;
    background: url(../images/bg-download.png) repeat-x left bottom;
}
.list-download li a {
    float: left;
    padding: 10px 0 10px 42px;
    color: #0061a5;
    font-size: 16px;
    line-height: 36px;
    background: url(../images/icon-download.png) no-repeat left center;
    font-weight: 600;
}
/*===contact===*/
.contact-wrapper {
    margin-top: 80px;
    overflow: hidden;
}
.contact-left {
    float: left;
    width: 460px;
}
.contact-left .address-contact, .contact-left .address-contact h2 {
    float: left;
    font-size: 18px;
    line-height: 22px;
    color: #be010d;
}
.contact-left .address-contact {
    padding-left: 20px;
    border-left: 1px solid #d9d9d9;   
}
.contact-left .address-contact h2 {
    line-height: 36px;
    font-weight: 600;
}
.contact-left .address-content {
    float: left;
    padding: 10px 0;
}
.address-content p {
    float: left;
    width: 100%;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 4px;
}
.address-content p, .address-content p a {
    color: #363636;
}
.address-content .icon-p {
    float: left;
    margin-top: 4px;
    padding-right: 9px;
}
.contact-right {
    float: right;
    width: 700px;
}
.send-mail {
    float: left;
    width: 100%;
    padding-top: 17px;
    background: url(../images/line-contact.png) repeat-x left top;
}
.send-mail h2 {
    float: left;
    color: #adadad;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.send-mail .node {
    color: #737373;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 24px;
    width: 445px;
    float: left;
    font-style: italic;
}
.send-mail .form-group {
    float: left;
    width: 100%;
    overflow: hidden;
    margin-bottom: 9px;
    background: none;
}
.form-group .control-label {
    float: left;
    font-size: 16px;
    line-height: 24px;
    width: 90px;
    font-weight: 500;
    color: #282828;
}
.form-group .contact-input {
    overflow: hidden;   
}
.form-control {
    height: 34px;
    width: 90%;
    display: block;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
    box-sizing: border-box;

}
.contact-input .form-control {
    line-height: 27px;
    padding: 0 12px;
    font-size: 13px;
    border-color: #cacaca;
    color: #383737;
}
.text-area .form-control {
    height: 102px;
    resize: none;
}
.form-control.text-2 {
    width: 220px;
}
.wcodes .form-control {
    float: left;
    height: 35px;
    line-height: 35px;
    width: 120px;
}
.wcodes .RadCaptcha {
    overflow: hidden;
    padding-left: 5px;
}
.error, .lb-error {
    color: #ff0000;
}
.btn-button .contact-input {
    padding-left: 90px;
}
.contact-input .btn-send{
    width: 120px;
    height: 35px;
    background-color: #ff9c00;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.contact-input .btn-send:hover {
    background-color: #d40415;
}
.mapw {
    margin-left: -1px;
}
.map .map-content {
    overflow: hidden;
    height: 487px;
    width: 100%;
}
#mapwrap {
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #D9D9D9;
    padding: 1px;
    overflow: hidden;
    box-sizing: border-box;
}
.contact .map, #mapwrap {
    height: 491px;
    width: 100%;
}
.mapbox .box {
    width: 420px;
}
.mapbox .box, .mapbox.box a {
    font-size: 12px;
    line-height: 16px;
    color: #656565;
    padding-left: 12px;
}
.mapbox .box .contact-1 {
    background: url(../images/icon-c-1.png) no-repeat 3px 5px;
}
.mapbox .box .contact-2 {
    background: url(../images/icon-c-2.png) no-repeat 3px 5px;
}
.mapbox .box .contact-3 {
    background: url(../images/icon-c-3.png) no-repeat 3px 5px;
}
.mapbox .box p {
    padding-top: 6px;
    margin: 0;
}
.mapbox .box h2 {
    color: #be010d; 
    font-size: 14px;
    font-weight: 600;
}
.wrap-mapbox {
    color: #4d4c4c;
    overflow: hidden;
    margin-bottom: 35px;
}
.wrap-mapbox i {
    display: block;
    font-size: 11px;
    line-height: 16px;
}
.map-title {
    overflow: hidden;
    padding-top: 10px;
    position: relative;
    width: 100%;
}
.map-title .search-map {
    overflow: hidden;
    padding-right: 90px;
    position: relative;
    width: 350px;
}
.mapbox
{
    height: 400px;
    width: 100%;
}
.search-map .getdiretion {
    cursor: pointer;
    font-size: 11px;
    padding: 0 10px;
    right: 0;
    top: 1px;
    position: absolute;
    width: 90px;
}
.search-map .text-search, .search-map .getdiretion {
    background: #fff;
    border: solid 1px #ccc;
    color: #707070;
    display: block;
    font-size: 12px;
    height: 24px;
    line-height: 20px;
}
.search-map .search-inmap {
    overflow: hidden;
    padding-right: 3px;
}
.search-map .text-search {
    width: 100%;
}
.wcodes img {
    float: left;
}
.wcodes .rcRefreshImage {
    background: transparent url("../images/refresh.png") no-repeat scroll left center;
    display: block;
    float: left;
    text-indent: -9999em;
    margin-left: 10px;
    margin-top: 9px;
    height: 22px;
    width: 22px;
}
/*=====================footer=============================*/
#footer
{
    background-color: #ebebeb;
    padding: 15px 0;
    width: 100%;
}
#footer, #footer a
{
    color: #484848;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
#footer h2
{
    color: #1c1c1c;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.list-address
{
    list-style: none;
    padding: 5px 15px 0;
    margin: 0;
}
.list-address li
{
    position: relative;
    padding-left: 20px;
    padding-top: 3px;
}
.list-address .iconal
{
    color: #be010d;
    display: block;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    left: 0;
    top: 2px;
    position: absolute;
    width: 24px;
}
.slider-product, .link-b
{
    display: block;
    width: 100%;
}
.product-list
{
    margin-bottom: 30px;
}
#listProduct .product-box
{
    border: none;
    margin: 0;
}
